:root {
    --primary-color: rgb(193, 206, 193);
    --secondary-color: rgb(222, 239, 222);
    --third-color: rgb(65, 226, 247);
}

body {
    box-sizing: border-box;
}

* {
    font-family: 'Rubik', sans-serif;
}

ul,
li {

    margin: 5px auto;
    width: 400px;
}

.button-class {
    color: black;
    height: 100%;
    width: 100%;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-radius: 13px;
    padding: 15px;
    margin: none;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.button-class:hover {
    background-color: var(--primary-color);
    border-color: var(--third-color);
    opacity: 0.8;
    transform: scale(1.03);
}

input.form-control:focus {
    border-color: inherit;
    box-shadow: none;
}
.form-control{
    font-family: 'Rubik', sans-serif;
    width: 50%;
    right: 10px;
}
.btn{
    font-family: 'Rubik', sans-serif;
    right: 5px;
}
.btn:focus{
    box-shadow: none;
}
.modal-dialog {
    margin: 15% auto;
    width: 450px;
}

.modal-title {
    text-transform: uppercase;
}

.modal-dialog img {
    width: 40%;

}

/* .modal-dialog p {
    grid-column: span 2;
    margin-bottom: 0;
}  */

@media all and (max-width: 500px) {
    .modal-dialog {
        width: 300px;
    }
    .img-pokemon{
        height: 60px;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .modal-dialog {
        width: 300px;
    }

}